
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <!-- <div class="row"> -->
      <h1>Create New User!</h1>
    <!-- </div> -->
    <!-- <div class="row"> -->
      <%=render "form"%>
      <!-- you can use this notation when calling to a helper form. but that needs to be specified in the role of the form. !> 
    <!-- </div> -->
  </div>
  <div class="col-lg-4"></div>